body{
    color: black;
}
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    width: 100px;
    padding: 15px;
    font-size: larger;
    color: blue;
    font-style: italic;
    
}